<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>公告列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>

<style>
    a {
        color: #fff;
    }
</style>

<body>
<h2 style="text-align: center">管理员通告列表</h2>
<div style="text-align: center;">
    <div class="btn-group">
        <form th:action="@{'/admin/find'}">
            <input name="bulletinId" class="form-control" type="text" placeholder="请输入公告编号..." style="float: left; width:70%;"/>
            <input class="btn btn-primary form-control" type="submit" value="查询" style="width: 28%"/>
        </form>
    </div>&nbsp&nbsp
    <div class="btn-group">
        <button class="btn btn-primary form-control btn-sm"><a th:href="@{'/admin/insertPage'}">添加公告</a></button>
    </div>
    <div class="btn-group">
        <button class="btn btn-danger"><a th:href="@{'/adminOut'}">退出</a></button>
    </div>
</div>
<table class="table table-striped table-bordered table-hover text-center">
    <thead>
    <tr style="text-align:center">
        <th>NO.</th>
        <th>编号</th>
        <th>内容</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="bulletin,stat:${bulletins}">
        <td th:text="${stat.index + 1}"></td>
        <td th:text="${bulletin.getId()}"></td>
        <td th:text="${bulletin.getMessage()}"></td>
        <td>
            <a class="btn btn-primary" th:href="@{'/admin/userListBid/'+${bulletin.getId()}}">发送通知</a>
            <a class="btn btn-primary" th:href="@{'/admin/updatePage/'+${bulletin.getId()}}">修改</a>
            <a class="btn btn-danger" th:href="@{'/admin/delete/'+${bulletin.getId()}}">删除</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
